<mat-toolbar color="primary"> <span>Cálculo de Valor</span>

  <span class="example-spacer"></span>

  <button *ngIf="showInstallButton" mat-raised-button (click)="installPWA()" color="accent" class="install-button"
          aria-label="Instalar Aplicativo" matTooltip="Instalar o aplicativo em seu dispositivo">
    <mat-icon>download</mat-icon>
    Instalar
  </button>

  <button mat-icon-button aria-label="Configurações" routerLink="/settings"> <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div class="container p-4" style="padding-top: 1rem;"> <router-outlet />
</div>

<button (click)="dispararNotificacao()">Mostrar Notificação no Celular</button>